*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    width: 80%;
    
    display: flex;
    justify-content: space-between;

    box-shadow: 14px 10px 16px -7px rgba(0,0,0,0.55);
    -webkit-box-shadow: 14px 10px 16px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 14px 10px 16px -7px rgba(0,0,0,0.55);
}

.card-left{
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-left span{
    font-weight: 400;
}

.card-left h1{
    margin-top: 15px;
    font-size: 25px;
}

.card-left p{
    color: gray;
}


