* {
    font-family: 'Roboto';
    box-sizing: border-box;
    
    --cor-dex-number: #00000031;
    --cor-planta-primaria: #49d0b0;
    --cor-planta-type: #6ddfca;
}

html{
    font-size: 62.5%;
    font-weight: 400;
}
body{
    font-size: 16px;

    background-color: #f3f3f3;
}






